<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>DESCRIPTION HERE!</string>
	<key>Identifier</key>
	<string>com.github.scriptingosx.munki.VMwareHorizonClient</string>
	<key>Input</key>
	<dict>
		<key>MUNKI_CATEGORY</key>
		<string>Productivity</string>
		<key>MUNKI_REPO_SUBDIR</key>
		<string>apps/vmware</string>
		<key>pkginfo</key>
		<dict>
			<key>catalogs</key>
			<array>
				<string>testing</string>
			</array>
			<key>category</key>
			<string>%MUNKI_CATEGORY%</string>
			<key>description</key>
			<string>VMware Horizon Client for Mac allows you to connect to your VMware Horizon virtual desktop from your device of choice giving you on-the-go access from any location.</string>
			<key>developer</key>
			<string>VMware</string>
			<key>display_name</key>
			<string>VMware Horizon Client for Mac</string>
			<key>name</key>
			<string>%NAME%</string>
			<key>postinstall_script</key>
			<string>#!/bin/sh
/Applications/VMware\ Horizon\ Client.app/Contents/Library/InitUsbServices.tool
</string>
			<key>unattended_install</key>
			<true/>
			<key>unattended_uninstall</key>
			<true/>
		</dict>
	</dict>
	<key>MinimumVersion</key>
	<string>0.4.3</string>
	<key>ParentRecipe</key>
	<string>com.github.scriptingosx.download.VMwareHorizonClient</string>
	<key>Process</key>
	<array>
		<dict>
			<key>Arguments</key>
			<dict>
				<key>pkg_path</key>
				<string>%pathname%</string>
				<key>repo_subdirectory</key>
				<string>%MUNKI_REPO_SUBDIR%</string>
			</dict>
			<key>Processor</key>
			<string>MunkiImporter</string>
		</dict>
	</array>
</dict>
</plist>
